:root {
    --iris-primary-brand: #4D5AE5;
    --ocean-pressed-state: #404BBF;
    --navy-blue-dark: #2E2F42;
    --gree-success: #31D0AA;
    --slate-text: #434455;
    --light-slate: #8E8F99;
    --cornflower-accent: #E7E9FC;
    --cloud-light: #F4F4FD;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --transition-dur-and-tim-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ______________BODY________________________ */

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: var(--slate-text);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0px;
    padding: 0px;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0px 15px;
    margin: 0 auto;
}

/* ______________HEADER________________________ */
.header {
    padding:  24px 0 0 0;
    box-shadow: 0px 1px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.header >.container {
    display: flex;
    align-items: baseline;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 18px;
    line-height: calc(21/18);
    letter-spacing: 0.03em;
    text-decoration-line: none;
    color: var(--iris-primary-brand);
    text-decoration: none;
}

.logo-header {
    color: var(--navy-blue-dark);
}

.header .link:hover,
.header .link:focus {
    color: var(--slate-text);
}

.nav-list {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    margin-left: 77px;

}

.nav-list-item .link {
    color: var(--navy-blue-dark);
    padding: 24px 0px;
    transition: color var(--transition-dur-and-tim-function);
}

.nav-list-item:hover .link,
.nav-list-item:focus .link {
    color: var(--ocean-pressed-state);
}



.nav-list-item:not(:last-child) {
    margin-right: 40px;
}

.nav-list-item .page-current::after {
    content: '';
    display: flex;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--ocean-pressed-state);
    margin-top: 24px;
}

.contact-list {
    display: flex;
    margin-left: auto;
}

.contacts-list-item .link {
    font-size: 16px;
    line-height: calc(24/16);
    color: var(--slate-text);
    padding: 24px 0px;
    transition: color var(--transition-dur-and-tim-function);
}

.contacts-list-item:not(:last-child) {
    margin-right: 40px;
}

.contacts-list-item:hover .link,
.contacts-list-item:focus .link {
    color: var(--iris-primary-brand);
}

/* ______________HERO__________________________ */

.hero {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background: var(--grey);
    padding-top: 192px;
    padding-bottom: 192px;
    background-image: linear-gradient(var(--grey), var(--grey)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
}

.title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    margin-bottom: 48px;
}

.main-botton {
    width: 170px;
    height: 51px;
    border-radius: 4px;
    background: var(--iris-primary-brand);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 600;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
    transition: background var(--transition-dur-and-tim-function), box-shadow var(--transition-dur-and-tim-function);
}


.main-botton:hover,
.main-botton:focus {
    background: var(--ocean-pressed-state);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* ______________FEATURES SECTION______________ */

.section {
    padding: 120px 0;
}

.heading {
    text-align: center;
    font-weight: 700;
    color: var(--navy-dark);
    font-size: 36px;
    line-height: 1.11;
    margin-bottom: 72px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-list-item {
    flex-basis: calc((100% - 72px) / 4);
    font-size: 16px;
    line-height: 1.5;
}

.features-box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background: #F4F4FD;
    border-radius: 4px;
    margin-bottom: 8px;
}


.caption {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}

/* ______________WORK EXAMPLES_________________ */

.works-list {
    display: flex;
    justify-content: space-between;
}

.works {
    padding-top: 0px;
}

.works-img {
    display: block;
}

/* ______________OUR TEAM______________________ */

.team {
    background-color: var(--cloud-light);
    font-size: 16px;
    line-height: 1.5;
    padding-top: 120px;
    padding-bottom: 110px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-card {
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-card-photo {
    display: block;
}

.team-card-content {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-card-content .caption {
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--iris-primary-brand);
    transition: background-color var(--transition-dur-and-tim-function);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--ocean-pressed-state);
}

.social-list-icon {
    fill: var(--cloud-light);
}

/* ______________CUSTOMERS_____________________ */

.customers-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    color: var(--light-slate);
    transition: border-color var(--transition-dur-and-tim-function);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: var(--ocean-pressed-state);
}

.customers-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    transition: fill var(--transition-dur-and-tim-function);
}

.customers-list-link:hover .customers-icon,
.customers-list-link:focus .customers-icon {
    fill: var(--ocean-pressed-state);
}

/* ______________FOOTER________________________ */

.footer {
    background-color: var(--navy-blue-dark);
    color: var(--cornflower-accent);
    padding: 120px 0;
}

.footer .container {
    display: flex;
    align-items: flex-start;
}

.slogan {
    display: block;
    width: 264px;
    margin-right: 120px;
}

.logo-footer {
    color: var(--cloud-light);
}

.footer-text {
    margin-top: 16px;
}

.footer-social {
margin-right: 80px;
}

.footer-social-text {
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-tim-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--gree-success);
}

.footer-social-icon {
    fill: #FFFFFF;
}

/* subscribe */

.footer-subtcribe {
    display: block;
    align-items: center;
    justify-content: space-between;
}

.footer-subtcribe-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-subscribe_input {
    display: flex;
    gap: 24px;
}

.footer-input-email {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background: transparent;
    padding: 8px 16px 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-btn-subscribe {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 8px 24px;
    height: 40px;
    background: var(--iris-primary-brand);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.02em;
    transition: background-color var(--transition-dur-and-tim-function);
    cursor: pointer;
}

.footer-btn-subscribe:hover,
.footer-btn-subscribe:active {
    background-color: var(--ocean-pressed-state);
}

.footer-icon-send {
    fill: #F4F4FD;
}

/* ______________MODAL WINDOW____________________ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--navy-blue-modal);
    transition: opacity var(--transition-dur-and-tim-function), visibility var(--transition-dur-and-tim-function), scale var(--transition-dur-and-tim-function);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    scale: 0.75;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584x;
    background-color:  white;
    
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color var(--transition-dur-and-tim-function), border-color var(--transition-dur-and-tim-function);
    
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: var(--ocean-pressed-state);
    border-color: var(--ocean-pressed-state);
}

.modal-close-icon {
    transition: fill var(--transition-dur-and-tim-function);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff; 
}

/* ____________/_MODAL WINDOW____________________ */

/* ______________PORTFOLIO________________________ */

.filter .container {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-list-item {
    display: flex;
    justify-content: center;
    background: var(--cloud-light);
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 11px 23px;
    border: 1px solid var(--cornflower-accent);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-primary-brand);
    background: var(--cloud-light);
    cursor: pointer;
    transition: 
    background-color var(--transition-dur-and-tim-function), 
    border-color var(--transition-dur-and-tim-function),
    color var(--transition-dur-and-tim-function), 
    box-shadow var(--transition-dur-and-tim-function); 
}

.filter-list-item:not(:last-child) {
    margin-right: 24px;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--iris-primary-brand);
    border-color: var(--iris-primary-brand);
    color: #FFFFFF;
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: -48px;
    margin-left: -24px;
}

.card-set img {
    display: block;
}

.card {
    display: inline-flex;
    flex-basis: 360px;
    margin-top: 48px;
    margin-left: 24px;
}

.card-link {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--transition-dur-and-tim-function);
}

.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-tim-function);
    display: block;
    font-size: 16px;
    color: var(--cloud-light);
    padding: 40px 32px;
    background: #4d5ae5;

}

.card-link:hover .overlay, 
.card-link:focus .overlay {
    transform: translate(0, 0);
}

.card-content {
    padding: 32px 0;
    padding-left: 16px;
    color: var(--navy-blue-dark);
    border: 1px solid var(--cornflower-accent);
    transition: border var(--transition-dur-and-tim-function);
}

.card-link:hover .card-content,
.card-link:focus .card-content {
    border: 0.5px solid var(--cloud-light);
}

/* MODAL BLANÐš */

.modal-form {
    justify-content: center;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 48px;
}

.input-name {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}

.modal-field {
    position: relative;
    margin-bottom: 8px;
    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0;
    background-color: transparent;
    padding-left: 38px;
    transition: var(--transition-dur-and-tim-function);
    transition-property: border, fill;
}

.icon-input {
    position: absolute;
    fill: var(--navy-blue-dark);
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: var(--transition-dur-and-tim-function);
    transition-property: fill;
}

.textarea {
    resize: none;
    overflow: hidden;
}

.input-comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-left: 16px;
    transition: var(--transition-dur-and-tim-function);
    transition-property: border;
}

.input-comment::placeholder {
    color: var(--light-slate);
}

.modal-input:focus+.icon-input,
.modal-input:hover+.icon-input,
.modal-input:focus,
.modal-input:hover,
.input-comment:hover,
.input-comment:focus {
    border-color: var(--ocean-pressed-state);
    fill: var(--iris-primary-brand);
    outline: none;
    color: currentColor;
}

.modal-field-privacy {
    margin-bottom: 16px;
    display: block;
}

.modal-send {

    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.check-privacy {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    cursor: pointer;
    align-items: center
}

.check-in {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid #2e2f42;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-check:checked+.check-in {
    background-color: var(--iris-primary-brand);
    border: 1.25px solid transparent;
    fill: #FFFFFF;
    transform: scale(1.1);
    transition: transform var(--transition-dur-and-tim-function);
}

.check-icon {
    width: 100%;
    height: 100%;
}

.privacy-policy {
    color: var(--iris-primary-brand);
    margin-left: 5px;
    transition: var(--transition-dur-and-tim-function);
    transition-property: color;
}

.privacy-policy:hover,
.privacy-policy:focus {
    color: var(--iris-primary-brand);
}

.btn-send {
    /* display: block;
    align-items: center;
    text-align: center; */
    margin: 0 auto;
    align-content: center;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    background: var(--iris-primary-brand);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background var(--transition-dur-and-tim-function), box-shadow var(--transition-dur-and-tim-function);
}

.btn-send:hover,
.btn-send:focus {
    background: var(--ocean-pressed-state);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}