:root {
    --iris-primary-brand: #4D5AE5;
    --ocean-pressed-state: #404BBF;
    --navy-blue-dark: #2E2F42;
    --gree-success: #31D0AA;
    --slate-text: #434455;
    --light-slate: #8E8F99;
    --cornflower-accent: #E7E9FC;
    --cloud-light: #F4F4FD;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --transition-dur-and-tim-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
    scroll-behavior: smooth;
    min-width: 320px;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    color: var(--slate-text);
    background-color: #ffff;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.link {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0px;
    padding: 0px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    padding: 0 16px;
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
}

/* ############################## MOBILE VERSION ############################## */

@media 
    screen and (min-device-pixel-ratio: 1) and (max-width: 767.5px),
    screen and (min-resolution : 96dpi) and (max-width: 767.5px),
    screen and (min-resolution : 1dppx) and (max-width: 767.5px) {
.hero {
    background-image:
        linear-gradient(to right, var(--grey), var(--grey)),
        url("../images/hero/people-office-mobile@1x.jpg")
    }
}

@media 
    screen and (min-device-pixel-ratio: 2) and (max-width: 767.5px),
    screen and (min-resolution : 192dpi) and (max-width: 767.5px),
    screen and (min-resolution : 2dppx) and (max-width: 767.5px) {
.hero {
    background-image:
        linear-gradient(to right, var(--grey), var(--grey)),
        url("../images/hero/people-office-mobile@2x.jpg");
    }
}

@media 
    screen and (min-device-pixel-ratio: 3) and (max-width: 767.5px),
    screen and (min-resolution : 288dpi) and (max-width: 767.5px),
    screen and (min-resolution : 3dppx) and (max-width: 767.5px) {
.hero {
    background-image:
        linear-gradient(to right, var(--grey), var(--grey)),
        url("../images/hero/people-office-mobile@3x.jpg");
    }
}

@media screen and (max-width: 767.5px) {
.hero {
    max-width: 428px;
}

.mobile-menu-open-button {
    line-height: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

.mobile-menu-open-icon {
    stroke: var(--navy-blue-dark);
    cursor: pointer;
    transition: stroke var(--transition-dur-and-tim-function);
}

.mobile-menu-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    width: 100vw;
    height: 100vh;
    padding: 80px 40px 80px 40px;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity var(--transition-dur-and-tim-function), visibility var(--transition-dur-and-tim-function), transform var(--transition-dur-and-tim-function);
}

.mobile-menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0%);
}

.mobile-menu-close-button {
    position: absolute;
    top: 40px;
    right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: var(--cornflower-accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--transition-dur-and-tim-function);
}

.mobile-menu-close-button:hover {
    background-color: var(--ocean-pressed-state);
}

.mobile-menu_close-icon {
    fill: currentColor;
    transition: fill var(--transition-dur-and-tim-function);
}

.mobile-menu-close-button:hover .mobile-menu_close-icon {
    fill: #FFFFFF;
}

.mobile-menu {
    width: fit-content;
    margin-bottom: auto;
}

.mobile-menu-item {
    margin-bottom: 40px;
}

.mobile-menu-item {
    transition: color var(--transition-dur-and-tim-function);
}

.mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue-dark);
}

.page-current {
    color: var(--ocean-pressed-state);
}

.mobile-menu-item:hover .link,
.mobile-menu-item:focus .link {
    color: var(--ocean-pressed-state);
}


.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    word-wrap: none;
    gap: 40px;
    margin-bottom: 48px;
    transition: color var(--transition-dur-and-tim-function);
}

.mobile-menu-contacts-item:first-child .link {
    font-weight: 700;
    font-size: 33px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--iris-primary-brand);
}

.mobile-menu-contacts-item:last-child .link {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--slate-text);
}

.mobile-menu-contacts-item:hover .link,
.mobile-menu-contacts-item:focus .link {
    color: var(--ocean-pressed-state);
}


.mobile-menu-icons {
    display: flex;
    justify-content: space-between;
}

.mobile-menu-icons-item {
    width: 40px;
    height: 40px;
}

.mobile-menu-icons-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--iris-primary-brand);
    border-radius: 50%;
    transition: background-color var(--transition-dur-and-tim-function);
}

.mobile-menu-icons-item-link:hover {
    background-color: var(--ocean-pressed-state);
}

.mobile-menu-icons-item-link:focus {
    background-color: var(--ocean-pressed-state);
}

.mobile-menu-icon-svg {
    width: 24px;
    height: 24px;
    fill: var(--cloud-light);
}

.nav-menu-list {
    display: none;
}

.contacts-list {
    display: none;
}

@media 
    screen and (min-width: 428px) and (max-width: 767.98px) {
.container {
    width: 428px;}
}

/* ______________STUDIO PAGE________________________ */

/* ______________HEADER__________________ */
.header .container {
    display: flex;
    justify-content: space-between;
}

.header {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    padding-top: 24px;
    padding-bottom: 22px;
    margin-right: 77px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris-primary-brand);
}

.logo-header {
    color: var(--navy-blue-dark);
}

.navigation {
    display: flex;
}

/* ______________HERO_____________________ */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--navy-blue-dark);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title {
    margin-bottom: 72px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.019em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.main-botton {
    padding: 16px 32px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background: var(--iris-primary-brand);
    color: #FFFFFF;
    transition: background-color var(--transition-dur-and-tim-function), box-shadow var(--transition-dur-and-tim-function);
}


.main-botton:hover {
    background: var(--ocean-pressed-state);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.main-button:focus {
    background-color: var(--ocean-pressed-state);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.main-button:active {
    background-color: var(--ocean-pressed-state);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ______________FEATURES SECTION______________ */

.features {
    padding-top: 96px;
    padding-bottom: 96px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
}

.caption {
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.features-item-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-text);
}

/* ______________WORK EXAMPLES_________________ */

.works {
    display: none;
}

/* ______________OUR TEAM______________________ */

.team {
    padding-top: 96px;
    padding-bottom: 104px;
    background-color: var(--cloud-light);
}

.team-title {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
}

.team-card {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}


.team-card-content {
    padding: 32px 16px 32px 16px;
}

.team-card-content .caption {
    margin-bottom: 8px;
}

.team-card-position {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    color: var(--slate-text);
}

.social-list {
    display: flex;
    padding: 4px 0px;
    justify-content: space-between;
}

.social-list-item {
    width: 40px;
    height: 40px;
}

.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--iris-primary-brand);
    transition: background-color var(--transition-dur-and-tim-function);
}

.social-list-link:hover,
.social-list-link:focus {
    background-color: var(--ocean-pressed-state);
}

.social-list-icon {
    fill: var(--cloud-light);
}

/* ______________CUSTOMERS_____________________ */

.customers {
    padding-top: 96px;
    padding-bottom: 96px;
}

.customers .heading {
    text-align: center;
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    justify-content: center;
}

.customers-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    transition: border-color var(--transition-dur-and-tim-function);
}

.customers-list-link:hover,
.customers-list-link:focus {
    border-color: var(--ocean-pressed-state);
}

.customers-icon {
    width: 110px;
    height: 56px;
    fill: var(--light-slate);
    transition: fill var(--transition-dur-and-tim-function);
}

.customers-list-link:hover .customers-icon,
.customers-list-link:focus .customers-icon {
    fill: var(--ocean-pressed-state);
}

/* ______________FOOTER________________________ */

.footer {
    background-color: var(--navy-blue-dark);
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer .container {
    display: block;
}

.slogan {
    width: 268px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.logo-footer {
    display: block;
    margin-bottom: 16px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.2225;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud-light);
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--cornflower-accent);
}

.footer-social {
    width: 208px;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}

.footer-social-text {
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: var(--cloud-light);
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
}

.footer-social-list-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-and-tim-function);
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--gree-success);
}

.footer-social-icon {
    fill: #FFFFFF;
}

/* subscribe */

.footer-subcribe {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--cloud-light);
}

.footer-subcribe-desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-subscribe_input {
    display: flex;
    gap: 24px;
}

.footer-input-email {
    padding: 8px 16px;
    width: 100%;
    font-size: 12px;
    line-height: 1.8675;
    letter-spacing: 0.04em;
    margin-bottom: 16px;
    color: #FFFFFF;
    background-color: var(--navy-blue-dark);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border var(--transition-dur-and-tim-function);
}

.footer-btn-subscribe {
    display: inline-flex;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 8px 24px;
    height: 40px;
    background: var(--iris-primary-brand);
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    letter-spacing: 0.02em;
    transition: background-color var(--transition-dur-and-tim-function);
    cursor: pointer;
}

.footer-btn-subscribe:hover,
.footer-btn-subscribe:active {
    background-color: var(--ocean-pressed-state);
}

.footer-icon-send {
    fill: #F4F4FD;
}

/* ______________MODAL WINDOW____________________ */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--navy-blue-modal);
    transition: opacity var(--transition-dur-and-tim-function), visibility var(--transition-dur-and-tim-function), scale var(--transition-dur-and-tim-function);

}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    scale: 0.75;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 584x;
    background-color:  white;
    
}

.modal-close-button {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: rgba(231, 233, 252, 1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color var(--transition-dur-and-tim-function), border-color var(--transition-dur-and-tim-function);
    
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: var(--ocean-pressed-state);
    border-color: var(--ocean-pressed-state);
}

.modal-close-icon {
    transition: fill var(--transition-dur-and-tim-function);
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff; 
}

/* ____________/_MODAL WINDOW____________________ */

/* ______________PORTFOLIO________________________ */

.filter .container {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.filter-list-item {
    display: flex;
    justify-content: center;
    background: var(--cloud-light);
    border-radius: 4px;
    cursor: pointer;
}

.filter-btn {
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
    padding: 11px 23px;
    border: 1px solid var(--cornflower-accent);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-primary-brand);
    background: var(--cloud-light);
    cursor: pointer;
    transition: 
    background-color var(--transition-dur-and-tim-function), 
    border-color var(--transition-dur-and-tim-function),
    color var(--transition-dur-and-tim-function), 
    box-shadow var(--transition-dur-and-tim-function); 
}

.filter-list-item:not(:last-child) {
    margin-right: 24px;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--iris-primary-brand);
    border-color: var(--iris-primary-brand);
    color: #FFFFFF;
    box-shadow: 
    0px 3px 1px rgba(0, 0, 0, 0.1), 
    0px 2px 1px rgba(0, 0, 0, 0.08), 
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-set {
    display: flex;
    flex-wrap: wrap;
    margin-top: -48px;
    margin-left: -24px;
}

.card-set img {
    display: block;
}

.card {
    display: inline-flex;
    flex-basis: 360px;
    margin-top: 48px;
    margin-left: 24px;
}

.card-link {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--transition-dur-and-tim-function);
}

.card-link:hover,
.card-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-img-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-tim-function);
    display: block;
    font-size: 16px;
    color: var(--cloud-light);
    padding: 40px 32px;
    background: #4d5ae5;

}

.card-link:hover .overlay, 
.card-link:focus .overlay {
    transform: translate(0, 0);
}

.card-content {
    padding: 32px 0;
    padding-left: 16px;
    color: var(--navy-blue-dark);
    border: 1px solid var(--cornflower-accent);
    transition: border var(--transition-dur-and-tim-function);
}

.card-link:hover .card-content,
.card-link:focus .card-content {
    border: 0.5px solid var(--cloud-light);
}

/* MODAL BLANК */

.modal-form {
    justify-content: center;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 48px;
}

.input-name {
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    color: var(--light-slate);
    margin-bottom: 4px;
}

.modal-field {
    position: relative;
    margin-bottom: 8px;
    display: block;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0;
    background-color: transparent;
    padding-left: 38px;
    transition: var(--transition-dur-and-tim-function);
    transition-property: border, fill;
}

.icon-input {
    position: absolute;
    fill: var(--navy-blue-dark);
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: var(--transition-dur-and-tim-function);
    transition-property: fill;
}

.textarea {
    resize: none;
    overflow: hidden;
}

.input-comment {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16/12);
    letter-spacing: 0.04em;
    padding-top: 8px;
    padding-left: 16px;
    transition: var(--transition-dur-and-tim-function);
    transition-property: border;
}

.input-comment::placeholder {
    color: var(--light-slate);
}

.modal-input:focus+.icon-input,
.modal-input:hover+.icon-input,
.modal-input:focus,
.modal-input:hover,
.input-comment:hover,
.input-comment:focus {
    border-color: var(--ocean-pressed-state);
    fill: var(--iris-primary-brand);
    outline: none;
    color: currentColor;
}

.modal-field-privacy {
    margin-bottom: 16px;
    display: block;
}

.modal-send {

    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.check-privacy {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
    display: flex;
    cursor: pointer;
    align-items: center
}

.check-in {
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1.25px solid #2e2f42;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-check:checked+.check-in {
    background-color: var(--iris-primary-brand);
    border: 1.25px solid transparent;
    fill: #FFFFFF;
    transform: scale(1.1);
    transition: transform var(--transition-dur-and-tim-function);
}

.check-icon {
    width: 100%;
    height: 100%;
}

.privacy-policy {
    color: var(--iris-primary-brand);
    margin-left: 5px;
    transition: var(--transition-dur-and-tim-function);
    transition-property: color;
}

.privacy-policy:hover,
.privacy-policy:focus {
    color: var(--iris-primary-brand);
}

.btn-send {
    margin: 0 auto;
    align-content: center;
    width: 169px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24/16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border-radius: 4px;
    background: var(--iris-primary-brand);
    border: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background var(--transition-dur-and-tim-function), box-shadow var(--transition-dur-and-tim-function);
}

.btn-send:hover,
.btn-send:focus {
    background: var(--ocean-pressed-state);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}